@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");
* {
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 16px;
}

h1 {
  text-align: center;
  font-family: "Etna", sans-serif;
  font-size: 3rem;
  letter-spacing: 0.5rem;
}

h2 {
  text-align: center;
  font-family: "Etna", sans-serif;
  font-size: 5rem;
  letter-spacing: 0.5rem;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 0px;
}

#headerText h2 {
  font-family: Poppins, sans-serif;
  font-size: 19rem;
  text-align: center;
  margin: 0rem 2rem 0;
  color: #fff;
}

nav a {
  text-decoration: none;
  color: inherit;
  padding: 1rem;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #231F20;
  background-size: cover;
}

.hr {
  height: 300px;
  border: none;
  outline: none;
  position: relative;
  justify-content: center;
  content: attr(data-symbol);
  color: #F55E00;
}

#headerVid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  opacity: 0.4;
}

#header {
  position: fixed;
  width: 100%;
  text-align: center;
  color: #fff;
  transition: 0.4s;
  padding-bottom: 2em;
  z-index: 1;
}

.icon {
  display: flex;
  justify-content: center;
}
.icon img {
  height: 7em;
  padding-right: 4px;
}

#header:hover {
  background: #fff;
  color: #231F20;
}
#header:hover h1 {
  color: #2E1747;
}
#header:hover nav a {
  color: #2E1747;
}

#headerText {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#introduction {
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  display: flex;
  height: 50vh;
}

.section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  color: #fff;
  transition: flex 0.4s ease;
  position: relative;
}
.section .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: background-color 0.8s ease;
}
.section .content {
  z-index: 2;
}

.section:hover {
  flex: 2;
}
.section:hover .overlay {
  background-color: rgba(0, 0, 0, 0.95);
}

#marketing {
  background-image: url("/media/img/Branding/UX/FIR.jpg");
}

#photography {
  background-image: url("/media/img/photography/owl.jpg");
}

#design {
  background-image: url("/media/img/Branding/PsychoToad/psychofrog_grid-01.png");
}

#art {
  background-image: url("/media/img/Branding/UX/Web 1920 – 1.png");
}

.btn {
  position: relative;
  top: 0;
  left: 0;
  width: 250px;
  height: 50px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  padding: 10px;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  color: #fff;
  font-weight: 400px;
  z-index: 1;
  transition: 0.5s;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.btn a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translate(0);
  transition: 0.5s;
  filter: blur(0px);
}
.btn:hover a {
  letter-spacing: 3px;
}
.btn:hover a::before {
  transform: skewX(45deg) translate(200px);
}
.btn:hover::before {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}
.btn:hover::after {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}
.btn::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  background: #F55E00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5;
}
.btn::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  top: -5px;
  width: 30px;
  height: 10px;
  background: #F55E00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5;
}

.flexbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-flow: column wrap;
  height: 100vw;
}
.flexbox:hover img {
  opacity: 0.28;
}
.flexbox .item {
  position: relative;
  width: 33.33%;
}
.flexbox .item img {
  width: 100%;
  display: block;
  transition: all 0.8s;
}
.flexbox .item .title {
  position: absolute;
  top: 48%;
  left: 0;
  width: 100%;
  padding: 0 3%;
  font-size: 30px;
  text-shadow: 0 0 8px #231F20;
}
.flexbox .item:hover img {
  opacity: 1;
}

@media (max-width: 860px) {
  .flexbox {
    height: 220vw;
  }
  .flexbox .item {
    width: 50%;
  }
}
@media (max-width: 667px) {
  .flexbox {
    height: auto;
  }
  .flexbox .item {
    width: 100%;
  }
}
.gallery {
  display: flex;
  padding: 2px;
  transition: 0.3s;
}
.gallery:hover .gallery__image {
  filter: grayscale(1);
}
.gallery__column {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.gallery__thumb {
  position: relative;
}
.gallery__image {
  display: block;
  width: 100%;
  transition: 0.3s;
}
.gallery__image:hover {
  transform: scale(1.1);
  filter: grayscale(0) !important;
}/*# sourceMappingURL=style.css.map */