.gallery {
	display: flex;
	padding: 2px;
	transition: .3s;
	
	&:hover &__image {
		filter: grayscale(1);
       
	}
	
	&__column {
		display: flex;
		flex-direction: column;
		width: 25%;
	}

	&__thumb {
		position: relative;
	}
	
	&__image {
		display: block;
		width: 100%;
		transition: .3s;
		
		&:hover {
			transform: scale(1.1);
            filter: grayscale(0) !important;
		}
	}
}
